<div class="navigation">
    <div class="logo"></div>
    <div class="links"></div>
  </div>
  <img class="search-header" src="swing3.jpg">
<header>
	<img src="CSS/Images/country.jpg" class="slide" alt=""/>
	<!-- <h2 class="text">TEST TEXT</h2> -->
	<img src="CSS/Images/ballroom.jpg" class="slide" alt="" />
	<!--<h2 class="text">TEST TEXT2</h2>-->
	<img src="CSS/Images/swing.png" class="slide" alt="" />
	<!--<h2 class="text">TEST TEXT3</h2>-->
	<img src="CSS/Images/ballet2.jpg" class="slide" alt="" />
	<!--<h2 class="text">TEST TEXT4</h2>-->
</header>
<section class="about">

    	<div class="row">
  <div class="col-md-8" id="info-left"> 
  		<h1>Let's Dance</h1>
  			<p class="info-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.lorem</p>
         <input class="btn btn-default" type="submit" value="Register Now">
    		</div>
  <div class="col-md-4" id="sign-in">
  		<h2>Sign In</h2>
  		<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <input id="search" class="btn btn-default" type="submit" value="Submit">
  </form>
  </div>
</div>
	  </section>