<header>
	<div class="navigation">
		<div class="logo"></div>
		<div class="links"></div>
	</div>
	<img class="search-header" src="CSS/Images/swing3.jpg">
</header>

<section>
	<h1 class="search">Find Your Partner</h1>
			<fieldset class="form-group">
				<div class="col-md-6">
					<label for="name">Style of Dance</label>
					<select class="form-control" id="skills" name="scores[5]">
					<option value="">--Style of Dance--</option>
						<option>Beginner</option>
						<option>Intermediate</option>
						<option>Advance</option>
						<option>Expert</option>
					</select>
				</div>


				<div class="col-md-6">
					<label for="name">Another Style of Dance</label>
					<select class="form-control" id="skills" name="scores[5]">
					<option value="">--Style of Dance--</option>
						<option>Beginner</option>
						<option>Intermediate</option>
						<option>Advance</option>
						<option>Expert</option>
					</select>
				</div>

				<div class="col-md-6">
				<label for="name">Dance Experience</label>
					<select class="form-control" id="skills" name="scores[5]">
					<option value="">--Dance Experience--</option>
						<option>Beginner</option>
						<option>Intermediate</option>
						<option>Advance</option>
						<option>Expert</option>
					</select>
				</div>

				<div class="col-md-6">
				<label for="name">Lead or Follow</label>
					<select class="form-control" id="skills" name="scores[5]">
					<option value="">--Lead or Follow--</option>
						<option>Lead</option>
						<option>Follow</option>
					</select>
				</div>

				<div class="col-md-6">
				<label for="name">Location</label>
					<select class="form-control" id="skills" name="scores[5]">
					<option value="">--Location--</option>
						<option>Beginner</option>
						<option>Intermediate</option>
						<option>Advance</option>
						<option>Expert</option>
					</select>
				</div>

				<div class="col-md-6">
				<label for="name">Age Range</label>
					<select class="form-control" id="skills" name="scores[5]">
					<option value="">--Age Range--</option>
						<option>Beginner</option>
						<option>Intermediate</option>
						<option>Advance</option>
						<option>Expert</option>
					</select>
				</div>
				<div class="buttonHolder">
  <input class="btn btn-default" type="submit" value="Submit"> 
</div>
</form>
</section>
<section class="results">
	<div class="container">
		<div class="A"><img src="CSS/Images/no-image.png" class="img-circle"></div>
		<div class="B">
			<h2>Name</h2>
			<br>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			</p>
			<br>
			<h4>Email</h4>
		</div>
	</div> 
</section>